In [ ]:
import pandas as pd

In [ ]:
df_data = pd.DataFrame({})

In [ ]:
df_registry = pd.DataFrame(
    {
        "ident_gruppe": [
            "egon",
            "egon",
            "egon",
            "egon",
            "egon",
            "egon",
            "egon",
            "egon",
            "egon",
            "egon",
            "peppes",
            "peppes",
            "peppes",
            "peppes",
            "peppes",
            "peppes",
            "peppes",
            "peppes",
            "peppes",
            "peppes",
        ],
        "ident_adresse": [
            "Sognsveien 77c",
            "Vitaminveien 9-11",
            "Karl Johans gate 37",
            "Jernbanetorget 6",
            "Ekebergveien 228 B",
            "Vetrlidsallmenningen 2",
            "Myrdalsvegen 2",
            "Torgallmenningen 11",
            "Sartorvegen 12",
            "Laguneveien 1",
            "JERNBANETORGET 1",
            "KARL JOHANS GATE 1",
            "STORTINGSGATEN 4",
            "NYDALSVEIEN 36",
            "KARENSLYST ALLÉ 18",
            "OLAV KYRRESGATE 11",
            "FJØSANGERVEIEN 30",
            "KAIEN",
            "VANGSGATA 46",
            "Hamnegata 4",
            
        ],
        "ident_postnr": [
            "0855",
            "0485",
            "0162",
            "0154",
            "1162",
            "5014",
            "5130",
            "5014",
            "5353",
            "5239",
            "0154",
            "0154",
            "0158",
            "0484",
            "0278",
            "5003",
            "5054",
            "5203",
            "5700",
            "5411",
            
            
        ],
        "ident_fylkenr": [
            "03",
            "03",
            "03",
            "03",
            "03",
            "46",
            "46",
            "46",
            "46",
            "46",
            "03",
            "03",
            "03",
            "03",
            "03",
            "46",
            "46",
            "46",
            "46",
            "46",
        ],
        "ident_kommunenr": [
            "01",
            "01",
            "01",
            "01",
            "01",
            "01",
            "01",
            "01",
            "26",
            "01",
            "01",
            "01",
            "01",
            "01",
            "01",
            "01",
            "01",
            "24",
            "21",
            "14",
            
        ],
    }
)

In [ ]:
df_registry